.btn-animation {
    background-color: #CBA478;
    color: #fff;
    font-size: 1.4rem;
    max-width: 200px;
    width: 100%;
    padding: .8rem 1rem;
    border: none;
    transition: .4s;
    cursor: pointer;

    &:hover {
        letter-spacing: .1rem;
    }
}