.review-section {
    margin-top: 3rem;

    .review-section-title {
        text-align: center;
        font-size: 2.7rem;

        span {
            color: #CBA478;
        }
    }

    .reviews-collection {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}