.home-section {
    max-width: 100%;
    margin: 0;
    background-image: url('../../../assets/home-section-bg.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
        height: 100%;

        .title {
            text-transform: uppercase;
            font-size: 4rem;
            margin-bottom: 0;
        }

        .decription {
            font-size: 1.4rem;
            width: 50%;
            line-height: 2.5rem;
            font-weight: 200;
        }
    }
}