.menu-card-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgb(24, 24, 24);
    padding: 4rem 1rem;
    transition: .2s;

    .children {
        width: 100%;
        justify-content: center;
        display: flex;
        gap: 1rem;
        margin-bottom: 2rem;
        cursor: pointer;

        i {
            font-size: 1.5rem;
            border: 2px solid rgb(27, 27, 27);
            padding: .5rem;
            transition: .4s;

            &:hover {
                background-color: #B3916A;
                color: #fff;
            }
        }
    }

    &.hover:hover {
        color: #000;
        background-color: #fff;
    }

    .card-title-img {
        display: flex;
        justify-content: center;
        align-items: center;

        .image {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    .payment {
        margin-bottom: 1rem;
    
        .new-price {
            font-size: 1.6rem;
        }
    
        .price {
            text-decoration: line-through;
        }
    }
}